.footer{
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
    background-color: #111111d9;
}
h6{
    font-weight: 600;
    font-size: 20px;
 
}
.textt{
    color: white ;
    font-weight: 600;
    font-size: 20px;
}
.textul{
    text-decoration: none;
    color: white ;
}
