
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.text{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
}
.text:hover {
    color: #111111d9 !important;
}
.text.active {
    color: #111111d9;
}

.textlogin{
    
   
}
.textbutton{
color: #3c6;
border-radius: 999px;
border-color: #3c6;
height: 45px;
margin-right: 15px;
font-weight: 600;
min-width: 94px;  
}
.nav-car{
    color: #3c6;
    font-size: 30px;
    cursor: pointer;
}
.iconbutton{
    color: #3c6;
    border-color: #3c6;
    height: 45px;
    margin-right: 15px;
    font-weight: 600;
    border: none;
    background-color: transparent;
}

.textbutton:hover{
    background-color: #c1c1c1;
    color: rgb(65, 70, 67);
}
.iconbutton:hover .nav__user-btn-icon{
    color: #c1c1c1;
}
.nav__user{
    display: none;
}
.nav__user-btn-icon{
    color: #3c6;
    font-size: 30px;
}
