.carousel{
    margin: 0 auto;
    width: 90%;
    height: 600px;
    border: 1px solid red;
    display: flex   ;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.banner{
    margin: 0 auto;
    width: 90%;
    height: 600px;
    border: 1px solid red;
    display: flex   ;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

